.header_section {
    background-image:url('../../../public/header-lg.webp');
    background-size:60%;
    background-repeat:no-repeat;
    background-position: right center;
    transition: 1s ease all;
    background-blend-mode:multiply;

    .header_title {
        font-size: 3rem;
        line-height: 1;
        transition: .7s ease all;
        font-weight: 600;
        text-transform: uppercase;
    }
    
}
.header_section:hover {
    background-size:63%;
    //background-image:url('../../../public/header-lg.webp');
    .header_title {
        font-size: 3.1rem;
    }
}