.header_section {
    //background-image:url('../../../public/header-bg-n.webp');
    //background-size:60%;
    //background-repeat:no-repeat;
    //background-position: right center;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 1s ease all;
    background-blend-mode:multiply;
    width: min(960px, 80vw);
    margin: auto;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

    .header_title {
        font-size: 4rem;
        line-height: 1.2;
        font-weight: 600;
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;

        p {
            span {
            
            opacity: 0.2;
            }
        }
    }

    .header_subtitle {
        font-size: 2.5rem;
        line-height: 1;
        transition: .7s ease all;
        font-weight: 400;
        text-transform: uppercase;
    }

    .header_box {
        //width: clamp(50%, 300px, 350px);
        width: 50%;
        position: relative;
        aspect-ratio: 1 / 1;
        background-color: #e4e4e4;
        height: 100vh;
        .image {
            object-fit: cover;
            object-position: center;
        }
        
    }
    
}
/*.header_section:hover {
    background-size:63%;
    //background-image:url('../../../public/header-bg.webp');
    .header_title {
        font-size: 4.1rem;
    }
    .header_subtitle {
        font-size: 2.55rem;
    }
}*/