.inner_headings {
  height: 5rem !important;
  overflow: hidden !important;
  
  span {
      position: relative;
      animation: animation 10s ease infinite;
      
  }
}

@keyframes animation {
    0%,
    100% {
      top: 0;
    }
    20% {
      top: 0;
    }
    25% {
      top: -94px;
    }
    45% {
      top: -94px;
    }
    50% {
      top: -189px;
    }
    70% {
      top: -189px;
    }
    75% {
      top: -284px;
    }
    95% {
      top: -284px;
    }
  }