.stripes_container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;

    .stripes {
        width: 33vw;
        height: 100%;
        border-right: 1px solid lightgray;
    }
    .stripes:nth-child(3) {
        border: 0 !important;
    }
}
