.service_container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    padding: 2rem 1rem;
    //border: 2px solid black;
    //border-radius: 5px;
    .column {
        width: 50%;
        
        a {
            background-image: linear-gradient(
              to right,
              var(--hover-button-color-start),
              var(--hover-button-color-end) 50%,
              #000 50%
            );
            background-size: 200% 100%;
            background-position: -100%;
            display: inline-block;
            padding: 5px 0;
            position: relative;
            /*background-clip: text;*/
            cursor: pointer;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease-in-out;
            margin-top: 1rem;
          }
          
          a:before{
            content: '';
            background: var(--hover-button-color-end);
            display: block;
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0;
            height: 3px;
            transition: all 0.3s ease-in-out;
          }
          
          a:hover {
           background-position: 0;
          }
          
          a:hover::before{
            width: 100%;
          }
    }
    h2 {
        margin-bottom: 1.5rem;
        font-size: 2.5rem;
        line-height: 1;
    }
    .box {
        //width: clamp(50%, 300px, 350px);
        position: relative;
        aspect-ratio: 1 / 1;
        background-color: #e4e4e4;
        
        .image {
            object-fit: cover;
            object-position: center;
        }
    }
}
  
.service_container:nth-child(even) {
    flex-direction: row-reverse;
}

.service_container:nth-child(even) .column {
    text-align: right;    
}
.service_container:nth-child(odd) .column .box {
    margin-left: auto;  
}