.service_container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    padding: 2rem 1rem;
    //border: 2px solid black;
    //border-radius: 5px;
    .column {
        width: 50%;

        p {
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            display: -webkit-box;
            overflow: hidden;
        }
    }
    h2 {
        margin-bottom: 1rem;
    }
    .box {
        //width: clamp(50%, 300px, 350px);
        position: relative;
        aspect-ratio: 1 / 1;
        background-color: #e4e4e4;
        
        .image {
            object-fit: cover;
            object-position: center;
        }
    }
}
  
.service_container:nth-child(even) {
    flex-direction: row-reverse;
}

.service_container:nth-child(even) .column {
    text-align: right;    
}
.service_container:nth-child(odd) .column .box {
    margin-left: auto;  
}