@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  html {
    /* cursor: none; */
    font-size: 16px;
    @apply antialiased;
  }

  @media (min-width: 1024px) {
    html {
      font-size: clamp(16px, calc(16px + (2 * ((100vw - 1024px) / 656))), 18px);
    }
  }

  @media (min-width: 1680px) {
    html {
      font-size: clamp(18px, calc(18px + (6 * ((100vw - 1680px) / 880))), 24px);
    }
  }

  @media (min-width: 2560px) {
    html {
      font-size: calc(1.5rem + 0.5vw);
    }
  }
  
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}


.reveal {
  background: var(--backgroundColor);
  padding-left: 30%;
  padding-right: 10%;
}

.reveal-text {
  font-weight: 800;
  font-size: var(--headlineBig);
  line-height: var(--headlineBig);
  color: var(--backgroundColor);
  filter: drop-shadow(0 0 0.06rem rgb(2, 2, 2));
}

.spacing-small {
  height: 50vh;
}

.spacing {
  height: 100vh;
}

@media screen and (max-width: 500px) {
  .reveal {
    padding-left: 10px;
  }
}