@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --hover-button-color-start: #1d1d1d;
  --hover-button-color-end: #464646;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
  
}

* {
  -webkit-font-smoothing: antialiased;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f1f1f; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

li a {
  background-image: linear-gradient(
    to right,
    var(--hover-button-color-start),
    var(--hover-button-color-end) 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  /*background-clip: text;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

li a:before{
  content: '';
  background: var(--hover-button-color-end);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

li a:hover {
 background-position: 0;
}

li a:hover::before{
  width: 100%;
}