.slogan_section {
  padding: 3rem 0;
}

.progress {
    left: 0;
    right: 0;
    height: 5rem;
    background-color: #ffffff;
    bottom: 100px;
}
  
.parallax {
  overflow: hidden;
  letter-spacing: 0.2px;
  line-height: 1.2;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  font-size: 4rem;
  color: #ffffff;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  text-shadow: rgb(20, 20, 20) 1px 0px 0px, rgb(20, 20, 20) 0.540302px 0.841471px 0px, rgb(20, 20, 20) -0.416147px 0.909297px 0px, rgb(20, 20, 20) -0.989992px 0.14112px 0px, rgb(20, 20, 20) -0.653644px -0.756802px 0px, rgb(20, 20, 20) 0.283662px -0.958924px 0px, rgb(20, 20, 20) 0.96017px -0.279415px 0px;
}

.parallax span {
  display: block;
  margin-right: 12px;
}
.parallax span::selection {
  color: white;
  background-color: #141414;
}