.slogan_section {
  border-top: 2px solid #141414;
  border-bottom: 2px solid #141414;
}

.progress {
    left: 0;
    right: 0;
    height: 2.5rem;
    background-color: #ffffff;
    bottom: 100px;
}
  
.parallax {
  overflow: hidden;
  letter-spacing: 0.2px;
  line-height: 1.12;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 400;
  font-size: 2rem;
  color: #141414;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 12px;
}