.services_container {
    margin: auto;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    width: min(960px, 80vw);
    margin-inline: auto;
    display: grid;
    gap: 1rem;

    .services_area{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
}