.roundedButton {
    
    border-top: 1px solid lightgray;
    cursor: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        position: relative;
        z-index: 1;
        transition: all 0.3s linear;
    }

    svg {
        z-index: 1;
        transition: all 0.3s linear;
    }

    &:hover{
        h2 {
            color: white!important;
            margin-left: 1rem;
        }
        svg {
            fill: white;
            z-index: 1;
            transform: rotate(-180deg);
            margin-right: 1rem;
        }
    }
}

.circle {
    width: 2rem;
    height: 2rem;
    position: absolute;
    border-radius: 50%;
    top: -2rem;
    right: -2rem;
}