.navbar_container {
    z-index: 999;
    position: fixed;
    width: 100vw;
    margin-top: 1.25rem;
    padding: 0 4.25vw;
    
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid lightgray;
    padding: 0 1rem;
    .dropdown_menu{
      margin: 0;
  
      .navbar_li a {
        background-image: linear-gradient(
          to right,
          var(--hover-button-color-start),
          var(--hover-button-color-end) 50%,
          #000 50%
        );
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: .5rem;
        position: relative;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
        mix-blend-mode: difference;
        
        svg {
          fill: #fff;
        }
      }
      
      .navbar_li a:before{
          content: '';
          background: var(--hover-button-color-end);
          display: block;
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 0;
          height: 3px;
          transition: all 0.3s ease-in-out;
      }
        
      .navbar_li a:hover {
        background-position: 0;
      }
        
      .navbar_li a:hover::before{
        width: 100%;
      }
    }
  }
    
}
/*
.stripes {
  z-index: 90;
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding-left: 13.125em;
  padding-right: 13.125em;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;

  .stripes_wrapper {
    width: 100%;
    max-width: 93.75em;
    position: relative;

    .stripe_container{
      width: 100%;
      height: 100%;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-columns: 1fr;
      align-content: stretch;
      justify-content: space-between;
      display: grid;
      position: relative;

      .stripe{
        background-color: rgba(201, 201, 201, 0.5);
      }

      .two_stripes{
        width: 100%;
        justify-content: space-between;
        display: flex;
        position: relative;
      }
    }
  }
}*/